<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
   <h2>Here is an image!</h2>
   <!--You will need to add something here to make sure the erb view can access the controller variables-->
    <img src=<%= giphy_images_hash['images']['fixed_height_still']['url'] %> />
   
   
   
   
  </body>
</html>