<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <h1>Welcome to the Giphy Searcher</h1>
    <!--add a form here-->

   
  </body>
</html>
